
.o-icon {
	display: inline-block;
	vertical-align: middle;
	width: rem(24px);
	height: rem(24px);

	&.-site-logo {
    width: 3rem;
    height: 3rem;
	}

	&.-site-nav-icon {
		@media (max-width: $to-small) {

      margin-left: 0.5rem;

			width: rem(36px);
			height: rem(36px);
      transition: transform $speed * 6 $easing-long;
      transition-delay: $speed * 1.5;

      html.has-mobile-menu-open & {
        transform: rotateZ(-315deg) scale(0);
        transition-delay: 0s;
      }
		}
	}

	&.-close {
		@media (max-width: $to-small) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateZ(-315deg) scale(0);
      transition-delay: 0s;

      html.has-mobile-menu-open & {
        transform: rotateZ(0) scale(1);
        transition-duration: $speed * 6;
        transition-delay: $speed * 3;
      }
    }
  }

	&.-features {
    margin-left: 1.5em;
  }

	&.-cw90 {
		transform: rotate(90deg);
	}

	&.-cw180 {
		transform: rotate(180deg);
	}

	&.-ccw-90 {
		transform: rotate(-90deg);
	}

	&.-ccw-135 {
		transform: rotate(-135deg);
	}

	&.-medium-icon {
		@media (max-width: $to-medium) {
			width: rem(28px);
			height: rem(28px);
		}
		@media (min-width: $from-medium) {
			width: rem(50px);
			height: rem(50px);
		}
	}

	&.-large-icon {
		@media (max-width: $to-small) {
			width: rem(24px);
			height: rem(24px);
		}
		@media (min-width: $from-small) {
			width: rem(64px);
			height: rem(64px);
		}
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}
