
//  Margin top
// ==========================================================================
.u-margin-top {
	margin-top: 1rem;
}
.u-margin-top-unit {
	margin-top: rem($unit);
}

.u-margin-top-unit-2 {
	margin-top: rem($unit * 2);
}
