.c-button {
    padding: 1em 2em;
    background-color: $black;
    color: $white;
    transition: background-color $speed $easing, color $speed $easing;

    @include u-hocus {
        color: $white;
    }
}
