
.c-hero {
  padding: 9rem 0 10rem;

  @media (max-width: $to-small) {
    padding-top: 20vh;
  }
}

.c-hero_image-wrap {
  position: absolute;
  bottom: 0;
  width: 66.6667%;
  right: 0;
  left: auto;
  top: auto;
}

.c-hero_heading-row {
  overflow: hidden;
}

.c-hero_heading-row_inner {
  transform: translateY(100%) scaleY(3);
  transform-origin: top;
  // opacity: 0;
  // transition: transform $speed * 3 $easing, opacity $speed * 4 $easing;
  transition: transform $speed * 3 $easing;

  @for $i from 1 through 4 {
    &.-delay-#{$i} {
      transition-delay: $page-transition-duration + $i * 0.36;
    }
  }

  .c-hero_heading.is-inview & {
    transform: none;
    // opacity: 1;
  }
}

.c-hero_heading {
  line-height: 1.25;

  @media (min-width: $from-small) {
    font-size: 5vw;
  }
}

.c-hero_cta {
  // text-align: center;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 1rem;
}
