.c-intro {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.c-intro_container {
  max-width: rem($container-width / 4 + ($padding * 2));
  margin-left: auto;
  margin-right: auto;
  padding-top: 9rem;
  padding-bottom: 9rem;
  z-index: 0;
  position: relative;
}

.c-intro_paragraph {

  @media (max-width: $to-small) {
    font-size: 1.75rem;
  }

  @media (min-width: $from-small) {
    font-size: 2rem;
  }
}

.c-intro_cta {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;

  @media (min-width: $from-tiny) {
    width: 50%;
  }
}
