
.c-get-in-touch {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
  color: $white;
  visibility: hidden;
  pointer-events: none;
  transition: visibility $speed $easing;

  html.has-modal-get-in-touch-open & {
    visibility: visible;
    pointer-events: all;
  }
}

.c-get-in-touch a {
  color: $link-color;

  @include u-hocus {
      color: $link-hover-color;
  }
}

.c-get-in-touch_wrapper {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: $black;
  transform: translateX(100%);
  transition: transform $speed $easing;

  html.has-modal-get-in-touch-open & {
    transform: translateX(0);
    overflow: hidden auto;
  }

  @media (max-width: $to-medium) {
    width: 100%;
  }

  @media (min-width: $from-medium) {
    width: 75%;
  }
}


.c-get-in-touch_container {
  position: relative;
  opacity: 0;
  transform: translateX(200px);
  transition: opacity $speed $easing, transform $speed $easing;

  html.has-modal-get-in-touch-open & {
    opacity: 1;
    transform: translateX(0);
    transition-delay: $speed;
  }

  @media (max-width: $to-tiny) {
    padding: 10rem 1.25rem 6rem;
  }

  @media (min-width: $from-tiny) {
    padding: 8rem 25% 6rem 10%;
  }
}

.c-get-in-touch_heading {
  margin-bottom: 4.5rem;
}

.c-get-in-touch_overlay {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: $black-off;
  opacity: 0;
  cursor: pointer;
  transition: opacity $speed $easing;

  html.has-modal-get-in-touch-open & {
    opacity: .75;
  }
}

.c-get-in-touch_close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2.5rem;
  left: 2.5rem;
  overflow: hidden;
  transition: transform $speed $easing;
  z-index: 100;
  cursor: pointer;

  @media (max-width: $to-small) {
    width: 30px;
    height: 30px;
    left: 1.25rem;
  }

  @media (min-width: $from-small) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.c-get-in-touch_close_line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $white;
  transition: transform $speed $easing;
}

.c-get-in-touch_close_line:nth-child(2) {
  transform: rotate(45deg);
  transition-delay: 0s;
}

.c-get-in-touch_close_line:nth-child(3) {
  transform: rotate(-45deg);
  transition-delay: .1s;
}
