
.c-get-in-touch {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
    color: #fff;
    visibility: hidden;
    pointer-events: none;
    transition: visibility .45s cubic-bezier(.35,.755,.42,.95)
}

html.is-first-load .c-get-in-touch {
    opacity: 1!important;
}

html.has-modal-get-in-touch-open .c-get-in-touch {
    visibility: visible;
    pointer-events: all
}

.c-get-in-touch a {
    color: #58a6ca
}

.c-get-in-touch_wrapper {
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #000;
    transform: translateX(100%);
    transition: transform .45s cubic-bezier(.35,.755,.42,.95)
}

@media (min-width: 1000px) {
    .c-get-in-touch_wrapper {
        width:75%;
    }
}

@media (max-width: 999px) {
    .c-get-in-touch_wrapper {
        width:100%
    }
}

html.has-modal-get-in-touch-open .c-get-in-touch_wrapper {
    transform: translateX(0);
    overflow: auto
}

.c-get-in-touch_container {
    position: relative;
    opacity: 0;
    transform: translateX(200px);
    transition: opacity .45s cubic-bezier(.35,.755,.42,.95),transform .45s cubic-bezier(.35,.755,.42,.95)
}

html.has-modal-get-in-touch-open .c-get-in-touch_container {
    opacity: 1;
    transform: translateX(0);
    transition-delay: .3s
}

@media (min-width: 1000px) {
    .c-get-in-touch_container {
        padding:14.0625rem 33.33333% 5rem 11.11111%
    }
}

@media (max-width: 999px) {
    .c-get-in-touch_container {
        padding:9.375rem 1.25rem 6.25rem
    }
}

.c-get-in-touch_heading {
    margin-bottom: 6.25rem
}

.c-get-in-touch_overlay {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    cursor: pointer;
    transition: opacity .45s cubic-bezier(.35,.755,.42,.95)
}

html.has-modal-get-in-touch-open .c-get-in-touch_overlay {
    opacity: .75
}

.c-get-in-touch_image {
    position: absolute;
    top: -6.25rem;
    right: 0;
    width: 66.66667%;
    opacity: .22
}

@media (min-width: 700px) {
    .c-get-in-touch_image {
        width:66.66667%
    }
}

@media (max-width: 699px) {
    .c-get-in-touch_image {
        width:100%
    }
}

.c-get-in-touch_phone {
    position: absolute;
    top: 2.5rem;
    right: 11.11111%;
    font-weight: 600;
    font-size: 1rem;
    -webkit-animation: colorSpin 10s linear infinite;
    animation: colorSpin 10s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    background: radial-gradient(circle,#68af5a,#30aabf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%
}

.is-ie .c-get-in-touch_phone {
    background: transparent
}

@media (max-width: 699px) {
    .c-get-in-touch_phone {
        right:1.25rem
    }
}

html.has-modal-get-in-touch-open .c-get-in-touch_phone {
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.c-get-in-touch_close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2.5rem;
    left: 2.5rem;
    overflow: hidden;
    transition: transform .3s cubic-bezier(.35,.755,.42,.95);
    z-index: 100;
    cursor: pointer
}

@media (min-width: 700px) {
    .c-get-in-touch_close {
        width:2.5rem;
        height: 2.5rem
    }
}

@media (max-width: 699px) {
    .c-get-in-touch_close {
        width:30px;
        height: 30px;
        left: 1.25rem
    }
}

.c-get-in-touch_close_line {
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: transform .3s cubic-bezier(.35,.755,.42,.95)
}

.c-get-in-touch_close_line:nth-child(2) {
    transform: rotate(45deg);
    transition-delay: 0s
}

.c-get-in-touch_close_line:nth-child(3) {
    transform: rotate(-45deg);
    transition-delay: .1s
}
