
.c-site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  @media (min-width: $from-small) {
    pointer-events: none;
  }
}

.c-site-header_inner {
  @media (min-width: $from-small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.c-site-header_main {
  flex-shrink: 0;

  @media (max-width: $to-small) {
    position: relative;
    z-index: 5;

    $site-header-mobile-bg: $white;
    // background-color: $site-header-mobile-bg;
    // box-shadow: 0 0 10px 0 $black-off;
  }

  @media (min-width: $from-small) {
    // $site-header-mobile-bg: $white;
    // background-color: $site-header-mobile-bg;
    min-width: 10%;
    margin-top: 1rem;
  }
}
.c-site-header_main_inner {
  @media (max-width: $to-small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 1rem 0;
  }
}
.c-site-brand {
  line-height: 1;
  @media (min-width: $from-small) {
    pointer-events: all;
  }
}

.c-site-brand_link {
  color: $black-off;
  transition: color $speed $easing-long;

  @media (min-width: $from-small) {
    display: inline-block;
    font-size: 0;
    font-weight: $regular;
  }

  &:hover,
  &:focus {
    color: $theme-main;
  }
}

.c-site-brand_label {
  display: inline-block;
  vertical-align: middle;
  // visina logotipa ÷ line-height wordmarka × 2 jer je logo u .o-icon 2rem
  font-size: 1.35rem; // 2400 ÷ 1620 = 0.675 × 2 = 1.35
  // 972 je širina slova D u logotipu kad je font-weight: regular (400)
  // za toliko želimo odmaknuti wordmark od logotipa
  margin-left: 0.6em; // 972 ÷ 1620 = 0.6

  @media (max-width: $to-small) {
    display: none;
  }
}

.c-site-header_aside {

  @media (max-width: $to-small) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition-delay: $page-transition-duration * 0.5 + $speed * 4; // _background.scss .-mobile-nav { transition + transition-delay }

    html.has-mobile-menu-open & {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0s;
    }

    // scrollbar-color: currentColor transparent;  /* Firefox */
    // scrollbar-width: thin;  /* Firefox */

    // &::-webkit-scrollbar {
    //   width: 12px;
    // }
    // &::-webkit-scrollbar-track {
    // }
    // &::-webkit-scrollbar-thumb {
    //   background-color: currentColor;
    // }

    // html.has-mobile-menu-open & {
    //   transform: none;
    // }
  }

  @media (min-width: $from-small) {
    margin-left: 2rem;
    transform: rotateZ(5deg) translateY(-100%);
    transform-origin: bottom right;
    transition: $speed * 8 $easing-long;
    transition-delay: $page-transition-duration * 1.5;

    background-color: $white;

    html.is-loaded & {
      transform: none;
    }
  }

  &.is-overflow-swipe\@from-small {
    @media (min-width: $from-small) {
      // white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }
  }
}

.c-site-nav_menu-toggle {
  display: flex;
  align-items: center;
  // line-height: 1;
  padding: 1.25rem 0;
  font-weight: $bold;
  letter-spacing: 1px;
  color: $black-off;

  background-color: transparent;

  &:hover,
  &:focus {
    color: $black-off;
    transform: none;
  }

  @media (min-width: $from-small) {
    display: none;
  }
}

.c-site-header_aside_inner {

  @media (max-width: $to-small) {
    position: relative;
  }
}

// .c-site-header_aside_inner {
//   $site-header-aside-inner-bg: $theme-main;

//   @media (max-width: $to-small) {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     // height: 100%;
//     height: 100vh;
//     overflow: hidden;
//     overflow-y: auto;
//   }
// }

.c-site-nav-wrap {
  @media (max-width: $to-small) {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
}

.c-site-nav_list {

  font-size: 0;

  .is-overflow-swipe\@from-small & {
    @media (min-width: $from-small) {
      white-space: nowrap;
    }
  }
}

.c-site-nav_list.-is-in-header {
  @media (min-width: $from-small) {
    position: relative;

    .c-site-nav_inquiry {
      position: absolute;
      top: 0;
      right: 100%;
    }
  }
}

.c-site-nav_list.-is-in-footer {
  @media (max-width: $to-small) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  @media (min-width: $from-small) {
    margin-bottom: 4rem;
  }
}

.c-site-nav_list > li {
  font-size: 1rem;

  @media (max-width: $to-small) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: $from-small) {
    display: inline-block;
  }
}

.c-site-nav_list.-is-in-header > li {
  @media (min-width: $from-small) {
    padding: 3rem 2rem 1rem;
    &.-is-cta {
      padding: 1rem;
    }
  }
}

.c-site-nav_list.-is-in-footer > li {
  @media (min-width: $from-small) {
    margin-right: 2rem;
  }
}

.c-site-nav_list a {
  line-height: 1;
  font-weight: $bold;
  letter-spacing: 0.03125rem;

  @media (max-width: $to-small) {
    display: block;
    font-size: 1.5rem;
  }
  @media (min-width: $from-small) {
    display: inline-block;
    pointer-events: all;
  }
}

.c-site-nav_list.has-animation a {
  @media (max-width: $to-small) {
    transform: translateX(-$unit);
    opacity: 0;
    transition: opacity $speed $easing-long, transform $speed * 3 $easing-long;
    transition-delay: 0.33s;

    html.has-mobile-menu-open & {
      transform: none;
      opacity: 1;
      transition: opacity $speed * 3 $easing-long, transform $speed * 3 $easing-long;
      @for $i from 1 through 8 {
        &.-delay-#{$i} {
          transition-delay: 0.33s + $i * 0.04;
        }
      }
    }
  }
}

// .c-site-nav_list.-is-in-header a {
//   .o-background {
//     background-color: silver;
//     opacity: 0;
//     transition: opacity $speed $easing-long;
//   }
//   @include u-hocus {
//     .o-background {
//       opacity: 0.1;
//     }
//   }
// }

.c-site-nav_list.-is-in-footer a {
  color: $white;
  display: inline-block;

  transform: translate(2rem, -1rem) rotateZ(-5deg);
  opacity: 0;
  transition: opacity $speed * 3 $easing-long, transform $speed * 6 $easing-long;
  transform-origin: top right;

  @for $i from 1 through 8 {
    &.-delay-#{$i} {
      transition-delay: 0.33s + $i * 0.04;
    }
  }
}

.c-site-nav_list.-is-in-footer.is-inview {
  a {
    transform: none;
    opacity: 1;
  }
}
