
.c-site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.c-site-header_inner {
  @media (min-width: $from-small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.c-site-header_main {
  flex-shrink: 0;

  @media (max-width: $to-small) {
    position: relative;
    z-index: 5;

    $site-header-mobile-bg: $white;
    // background-color: $site-header-mobile-bg;
    // box-shadow: 0 0 10px 0 $black;
  }

  @media (min-width: $from-small) {
    $site-header-mobile-bg: $white;
    background-color: $site-header-mobile-bg;
  }
}
.c-site-header_main_inner {
  @media (max-width: $to-small) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 1rem 0;
  }
}
.c-site-brand {
  line-height: 1;
}
.c-site-header_aside {

  @media (max-width: $to-small) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition-delay: $page-transition-duration * 0.5 + $speed * 4; // _background.scss .-mobile-nav { transition + transition-delay }

    html.has-mobile-menu-open & {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0s;
    }

    // scrollbar-color: currentColor transparent;  /* Firefox */
    // scrollbar-width: thin;  /* Firefox */

    // &::-webkit-scrollbar {
    //   width: 12px;
    // }
    // &::-webkit-scrollbar-track {
    // }
    // &::-webkit-scrollbar-thumb {
    //   background-color: currentColor;
    // }

    // html.has-mobile-menu-open & {
    //   transform: none;
    // }
  }

  @media (min-width: $from-small) {
    margin-left: 2rem;
    transform: rotateZ(5deg) translateY(-100%);
    transform-origin: bottom right;
    transition: $speed * 8 $easing-long;
    transition-delay: $page-transition-duration * 3.5;

    background-color: $white;

    html.is-loaded & {
      transform: none;
    }
  }

  &.is-overflow-swipe\@from-small {
    @media (min-width: $from-small) {
      // white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }
  }
}

.c-site-nav_menu-toggle {
  display: flex;
  // line-height: 1;
  padding: 1.5rem;

  $site-menu-toggle-bg: $link-color;
  background-color: $site-menu-toggle-bg;

  &:hover {
    $site-menu-toggle-bg: $link-hover-color;
    background-color: $site-menu-toggle-bg;
  }

  @media (min-width: $from-small) {
    display: none;
  }
}

.c-site-header_aside_inner {

  @media (max-width: $to-small) {
    position: relative;
  }
}

// .c-site-header_aside_inner {
//   $site-header-aside-inner-bg: $theme-main;

//   @media (max-width: $to-small) {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     // height: 100%;
//     height: 100vh;
//     overflow: hidden;
//     overflow-y: auto;
//   }
// }

.c-site-nav-wrap {
  @media (max-width: $to-small) {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
}

.c-site-nav_list {

  font-size: 0;

  .is-overflow-swipe\@from-small & {
    @media (min-width: $from-small) {
      white-space: nowrap;
    }
  }
}

.c-site-nav_list > li {
  font-size: 1rem;

  @media (min-width: $from-small) {
    display: inline-block;
  }
}

.c-site-nav_list a {
  line-height: 1;
  color: $black;
  font-weight: 700;
  letter-spacing: 0.03125rem;

  @media (max-width: $to-small) {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @media (min-width: $from-small) {
    display: inline-block;
    padding: 1rem 2rem;
  }

  @media (max-width: $to-small) {
    transform: translateX(-2rem);
    opacity: 0;
    transition: opacity $speed $easing-long, transform $speed * 3 $easing-long;

    @for $i from 1 through 8 {
      &.-delay-#{$i} {
        transition-delay: 0.33s + $i * 0.04;
      }
    }

    html.has-mobile-menu-open & {
      transform: none;
      opacity: 1;
    }
  }
}
